@import "tailwindcss";


@media print {
  @page {
    margin: 0;
    size: 58mm auto;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
    max-height: 200mm; /* o lo que tu ticket permita */
    overflow: hidden;
    padding: 4mm;
    font-size: 12px;
    font-family: monospace;
    line-height: 1.4;
    background: white;
    page-break-inside: avoid;
  }

  body * {
    visibility: hidden;
  }

  .print-area, .print-area * {
    visibility: visible;
    page-break-inside: avoid;
  }

  button, .no-print {
    display: none !important;
  }
 
}
/* Configuraci�n en tu navegador al imprimir
Cuando presiones �Imprimir Ticket�:

Seleccion� tu impresora Gadnic

En el panel de impresi�n:

?? Desactiv� �Encabezados y pies de p�gina�

?? Eleg� tama�o de papel: 58mm x altura personalizada

?? M�rgenes: ninguno o �m�nimos�

?? Escala: �ajustar al contenido� o �100%� */